.create-trofeum-container {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    margin-top: 20px;
}

.trofeum-h2 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}