.mainpage-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.mp-zdobywcy, .ostatnie-transfery, .pp-zdobywcy {
    border: 1px solid #ddd;
    border-radius: 10px;
    background: linear-gradient(135deg, #ffffff, #f0f0f0); 
    padding: 20px;
    flex: 1 1 30% ; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.mp-zdobywcy h2, .ostatnie-transfery h2, .pp-zdobywcy h2 {
    color: #b00;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
}

.mp-zdobywcy ul, .ostatnie-transfery ul, .pp-zdobywcy ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mp-zdobywcy li, .ostatnie-transfery li, .pp-zdobywcy li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.mp-zdobywcy li:hover, .ostatnie-transfery li:hover, .pp-zdobywcy li:hover {
    background-color: #f7f7f7; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.mp-zdobywcy strong, .ostatnie-transfery strong, .pp-zdobywcy strong {
    color: #333; 
    font-weight: bold;
}

