/* Rozciąganie kontenera na pełną szerokość */
.kluby-container {
  background-color: #f7f7f7;
  width: 100%; /* Pełna szerokość ekranu */
  max-width: 100%; /* Usunięcie maksymalnej szerokości */
  margin: 0 auto; /* Wycentrowanie kontenera */
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Kontener zajmuje przynajmniej 100% wysokości okna przeglądarki */
}

/* Stylizacja dla body i html */
html, body {
  height: 100%;
  margin: 0;
}

/* Stylizacja listy klubów */
.kluby-list {
  list-style-type: none;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Siatka, która automatycznie dostosowuje liczbę kolumn */
  gap: 20px; /* Odstępy między elementami */
}

/* Stylizacja dla pojedynczego klubu */
.klub-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

/* Stylizacja logo klubu */
.klub-logo img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

/* Stylizacja detali klubu */
.klub-details {
  display: flex;
  flex-direction: column;
}

/* Informacje o klubie */
.klub-info {
  display: flex;
  align-items: center;
}

/* Stylizacja dla tytułu klubu */
.klub-details strong {
  font-size: 18px;
  color: #333;
}

/* Stylizacja tytułów na stronie */
h1 {
  color: #b00;
  text-align: center;
}

/* Stylizacja dla linków w detalu klubu */
.klub-details a {
  color: inherit; /*kolor tekstu dziedziczonego (zamiast domyślnego niebieskiego) */
  text-decoration: none; /* Usuń podkreślenie */
}

/* Opcjonalnie: stylizacja na hover */
.klub-details a:hover {
  color: #b00; /* kolor na hover */
  text-decoration: underline; /* podkreślenie na hover*/
}

.icons-container{
  padding: 30px;
}