.zawodnik-details-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .error-message {
    color: red;
  }
  .transfer-button-container {
  display: flex;
  justify-content: flex-end; /* Wyrównanie do prawej */
  margin-top: 10px; /* Odstęp od pozostałych elementów */
}

.transfer-button-container button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.transfer-button-container button:hover {
  background-color: #0056b3;
}

  